#rectangle{
	position: absolute;
	box-shadow: 0 9px 20px -5px;
	background:#FFFAF0; 
	border-radius: 25px;
	border-style: solid;
	border-width: 5px;

}

#flipImage{
	position: absolute;
}

#flashcardText{
	position: absolute;
	word-wrap: break-word;
	padding: 10px;
}

.flip-animation {
	

}

@keyframes flip {
	from { transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}

.flip-click{
	animation:0.5s flip linear;
}