<link rel="stylesheet" href="../../css/flashcard.css">
<div class="flip-container">
    <div class="flipper" ng-click="flipCard()" ng-class="{'flipToFront':isCardRevealed, 'flipToBack':!isCardRevealed}">
        <div class="back" ng-class="{'face-hidden':hideBackFace}">
            <h1 ng-if="currentCard.title && !isCardRevealed">{{currentCard.title | uppercase}}</h1>
            <p ng-if="currentCard.icon && !isCardRevealed">{{currentCard.icon}}</p>
            <br ng-if="currentCard.icon && !isCardRevealed" />
            <img ng-if="currentCard.imageUrl && !isCardRevealed" src="{{currentCard.imageUrl}}" alt="currentCard.imageAlt" />
            <p ng-if="currentCard.description && !isCardRevealed">{{currentCard.description}}</p>
        </div>
        <div class="front" ng-class="{'face-hidden':!hideBackFace}">
            <h1 ng-if="currentCard.title && isCardRevealed">{{currentCard.title | uppercase}}</h1>
            <p ng-if="currentCard.icon">{{currentCard.icon}}</p>
            <br ng-if="currentCard.icon && isCardRevealed" />
            <img ng-if="currentCard.imageUrl && isCardRevealed" src="{{currentCard.imageUrl}}" alt="currentCard.imageAlt" />
            <p ng-if="currentCard.description && isCardRevealed">{{currentCard.description}}</p>
        </div>
    </div>
</div>