<!-- card Quizzing --> 

<link rel="stylesheet" href="../../css/flashcard.css">
<div>

<div class="flip-container">
    <div class="flipper" ng-click="flipCard()" ng-class="{'flipToFront':isCardRevealed, 'flipToBack':!isCardRevealed}">
        <div class="back" ng-class="{'face-hidden':hideBackFace}">
            <h1 ng-if="currentCard.type=='text' && currentCard.text && !isCardRevealed">{{currentCard.text | uppercase}}</h1>
            <img ng-if="currentCard.url && currentCard.type=='image' && !isCardRevealed" width="640" height="360" ng-src="{{currentCard.url}}" err-src="https://google.com/favicon.ico" />
            <audio controls loop autoplay="autoplay" ng-if=" currentCard.type=='audio' && currentCard.url && !isCardRevealed" ng-src="{{currentCard.url}}" err-src="http://google.com/favicon.ico"/></audio> 
            <video controls loop autoplay="autoplay" ng-if="currentCard.type=='video' && currentCard.url && !isCardRevealed" width="640" height="360" ng-src="{{currentCard.url}}" err-src="https://google.com/favicon.ico" frameborder="0" allowfullscreen></video>
        </div>
        <div class="front" ng-class="{'face-hidden':!hideBackFace}">
            <h1 ng-if="currentCard.type=='text' && currentCard.text && isCardRevealed">{{currentCard.text | uppercase}}</h1>
            <img ng-if="currentCard.url && currentCard.type=='image' && isCardRevealed" width="640" height="360" ng-src="{{currentCard.url}}" err-src="https://google.com/favicon.ico" alt="currentCard.imageAlt" />
            <audio controls loop autoplay="autoplay" ng-if=" currentCard.type=='audio' && currentCard.url && isCardRevealed" ng-src="{{currentCard.url}}" err-src="http://google.com/favicon.ico" /></audio> 
            <video controls loop autoplay="autoplay" ng-if="currentCard.type=='video' && currentCard.url && isCardRevealed" width="640" height="360" ng-src="{{currentCard.url}}" err-src="https://google.com/favicon.ico" frameborder="0" allowfullscreen></video>
        </div>
    </div>
</div>
  
    <!-- For Quizzing Purposes --> 
    <div> 
    <form> 
        <p>Choices:</p>
        <p> 
            <input type="radio" ng-model="radio" value="r1">{{question1}}
            <input type="radio" ng-model="radio" value="r2">{{question2}}
        </p>
        <p>
            <!-- Radio input ng-model is same value, value is different-->
            <input type="radio" ng-model="radio" value="r3">{{question3}}
            <input type="radio" ng-model="radio" value="r4">{{question4}}
        </p>
    </form>
</div>

	<div>
		<button type="button" ng-click="clickNextCard()">Next Card</button>
	</div>

</div>