<link rel="stylesheet" href="../../css/flashcard.css">
<div>

<div class="flip-container">
    <div class="flipper" ng-click="flipCard()" ng-class="{'flipToFront':isCardRevealed, 'flipToBack':!isCardRevealed}">
        <div class="back" ng-class="{'face-hidden':hideBackFace}">
            <h1 ng-if="currentCard.media=='text' && currentCard.text && !isCardRevealed">{{currentCard.text | uppercase}}</h1>
            <img ng-if="currentCard.url && currentCard.media=='image' && !isCardRevealed" src="{{currentCard.url}}" alt="currentCard.imageAlt" />
            <audio controls ng-if=" currentCard.media=='audio' && currentCard.url && !isCardRevealed" src="{{currentCard.url}}" alt="currentCard.imageAlt" /></audio> 
            <video controls loop autoplay="autoplay" ng-if="currentCard.media=='video' && currentCard.url && !isCardRevealed" width="640" height="360" src="{{currentCard.url}}" frameborder="0" allowfullscreen></video> 
        </div>
        <div class="front" ng-class="{'face-hidden':!hideBackFace}">
            <h1 ng-if="currentCard.media=='text' && currentCard.text && isCardRevealed">{{currentCard.text | uppercase}}</h1>
            <img ng-if="currentCard.url && currentCard.media=='image' && isCardRevealed" src="{{currentCard.url}}" alt="currentCard.imageAlt" />
            <audio controls ng-if=" currentCard.media=='audio' && currentCard.url && isCardRevealed" src="{{currentCard.url}}" alt="currentCard.imageAlt" /></audio> 
            <video controls loop autoplay="autoplay" ng-if="currentCard.media=='video' && currentCard.url && isCardRevealed" width="640" height="360" src="{{currentCard.url}}" frameborder="0" allowfullscreen></video> 
        </div>
    </div>
</div>
    <div class="addmenu">
        <ul class="nav navbar-nav">
            <li><a ng-click = "toggleMenu(false, true, true, true)" id="addbutton"><i class ="fa fa-plus-square-o"></i> Add</a></li>
            <li><a ng-click = "toggleMenu(true, false, true, true)" id="deletebutton"><i class = "fa fa-minus-square-o"></i> Delete</a></li>
            <li><a ng-click = "toggleMenu(true, true, false, true)" id="editbutton"><i class = "fa fa-pencil-square-o"></i> Edit</a></li>
            <li><a ng-click = "toggleMenu(true, true, true, false)" id="modifybutton"><i class = "fa fa-check-square-o"></i> Modify Order</a></li>
        </ul>
    </div>
<div ng-hide="addmenu">

    <h2>New Flashcard Side</h2>
    <!-- User add new side to card-->
    <!-- DEV NOTES, ng-model binds variable, ng-'action' calls angular function -->
    <textarea rows="10" cols="75" ng-model="text" ng-init="text='Enter text here'">
    </textarea>

    <button ng-click="newSide('text','', text)">Submit Text</button>
    <h4>Upload File (Image/Video/Audio)
        <button ngf-select="uploadFiles($file,$invalidFiles)">Upload File</button></h4>

</div>
    <div>
        <button ng-click="addNewCard()">Save Card</button>
    </div>

</div>
